.block-bottom__slider
{
    display: flex;
    width: 100%;
    clear: both;
    justify-content: space-around;
}

.block-bottom__slider-box
{
    overflow: hidden;
    width: 100%;
}

.block-bottom__slider-cards
{
    display: flex;
}

.card
{
    /*min-width: 97%;*/
    padding: 0 10px;
    width: 25%;
}

.card-photo
{
    height: 190px;
    border-radius: 8px;
    width: 281px;
}

.card-title
{
    font-size: 22px;
    line-height: 32px;
    color: #333;
    font-weight: 700;
    font-family: 'Open Sans';
}

.card-text
{
    font-size: 16px;
    line-height: 28px;
    color: #555;
    font-family: 'Georgia';
}

#left
{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: rgb(167, 52, 52);
}

#right
{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: rgb(167, 52, 52);
}

@media screen and (min-width: 768px)
{
    .slider
    {
        display: flex;
        width: 100%;
        clear: both;
        justify-content: center;
        max-width: 1360px;
    }


    .slider__box
    {
        overflow: hidden;
        width: 81%;
    }

    .item
    {
        min-width: 31.2%;
    }
}

@media screen and (min-width: 1024px)
{
    .slider
    {
        display: flex;
        width: 100%;
        clear: both;
        justify-content: center;
        max-width: 1360px;
    }


    .slider__box
    {
        overflow: hidden;
        width: 81%;
    }

    .item
    {
        min-width: 23.2%;
    }
}
